<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ADMIN CMD PROMPT:  netsh http add urlacl url=http://*:8011/ user=Everyone listen = yes  -->
    <add key="OwinHostPortNumber" value="8011" />

    <add key="PathToCheckForUpdate" value="\\readyshare\USB_Storage\software-update\fs\cpuexe\"/>
    <add key="PathToUpdateCopyTool" value="C:\home\CpuOffOnWithPi.SelfUpdate\CpuOffOnWithPi.SelfUpdate.exe"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>